<div class=" container">
    <div class="row">
        <p class="display-3 text-center my-5 py-5">{{category.name}}</p>
        <div class="text-center">
            <img src="{{category.image}}" class="img-fluid m-3 p-3" alt="">
        </div>
        <h3 class="display-5 text-center my-3">Products</h3>

        <div *ngFor="let i of data" class="col col-md-3 d-flex flex-column mx-auto border rounded ">
            <div class="text-center">
                <img src="{{i.image_url}}" class="img-fluid  p-1" style="height: 225px;" alt="">
            </div>
            <p class="lead fs-2 text-center">{{i.name}}</p>
            <p class="lead fs-4">Price: $ <span>{{i.price}}</span>
            </p>

            <p class="lead fs-4">Price: ${{i.desc}} </p>

            <p class="lead text-start">..</p>
            <div>
                <a (click)="detail(i.id)" class="btn btn-sm btn-secondary mt-auto mx-1 mb-2">View</a>
                <a (click)="add_to_cart(i.id)" class="btn btn-sm btn-dark  mt-auto mx-1 mb-2">Add To Cart</a>

                <a href="" class="btn btn-sm mt-auto mx-1 mb-2 btn-danger">Edit</a>
                <a href="" class="btn btn-sm mt-auto mx-1 mb-2 btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>