<div class="container">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
        <div class="my-3 p-3">
            <h2 class="display-5">{{product_detail.name}}</h2>
            <p class="lead">{{product_detail.desc}}</p>
        </div>
        <div class="bg-white shadow-sm mx-auto p-5 " style="width: 80%; height: auto; border-radius: 21px 21px 0 0;">
            <div class="row align-items-center">
                <div class="col">
                    <img src="{{product_detail.image}}" class="img-fluid" src="" alt="">
                </div>
                <div class="col">
                    <p class="display-6">Price: ${{product_detail.price}} </p>
                    <p class="lead">Stock: {{product_detail.stock}} </p>
                    <a disabled href="" class="my-2 mx-1 btn btn-dark">Add To Cart</a>
                    <a href="" class="my-2 mx-1 btn btn-success">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>