<div class="container-fluid m-0 p-0">
    <div class="container-fluid m-0 p-0 g-0 w-100">
        <img src="../assets/images/vecteezy_shopping-online-on-smartphone-and-new-buy-sale-promotion_7153463.jpg"
            class="img-fluid" alt="">
    </div>
    <div class="container text-center">
        <p class="display-4 my-5 py-5">Browse Categories</p>
    </div>
    <div class="container">
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" *ngFor="let i of data">
                        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                            style="background-image: url('{{i.image}}');background-size:cover;background-repeat:no-repeat;background-position: center;">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow-5">{{i.name}}</h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center me-3">
                                        <button (click)="go_to_category_by_id(i.id)" class="btn btn-lg btn-dark">View</button>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <small class="text-light">No of Products</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>